<section id="postlist">
	<h1>List of all posts</h1>
	<nav>
		<h3><%= link_to "New Post", new_post_path %></h3>
	</nav>
	<% @posts.each do |post| %>
		<article>
			<h3><%= post.title %></h3>
			<p><%= post.text %></p>
			<em>
				<%= link_to "View comments", post %> | 
				<%= link_to "Edit this post", edit_post_path(post) %> | 
				<%= link_to "Delete", post_path(post), 
					method: :delete, data: { 
						confirm: "Are you sure you want to delete THIS post?"
					} %>
			</em>
			<br/>
		</article>
		<br/>
	<% end %>
</section>