<section id="showpost">
	<h1><%= @post.title %></h1>
	<article>
		<p><%= @post.text %></p>
	</article>
	<br/>
	<h2>Comments for this post :</h2>
	<%= render @post.comments %>
	<br/>
	<h2>Add a comment :</h2>
	<%= render "comments/form" %>
	<br/>
	<p>
		<%= link_to "Edit this Post", edit_post_path(@post) %> | <%= link_to "Back to posts", posts_path %>
	</p>
</section>