<!DOCTYPE html>
<html>
<head>
  <title>Blog Attempt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<main>
	<h1 id="title_blog">Blog Attempt</h1>
	<nav id="main_menu">
		<table>
			<tr>
				<td><%= link_to "Home", controller: "welcome" %></td>
				<td><%= link_to "My Blog", controller: "posts" %></td>
			</tr>
		</table>
	</nav>
	
	<%= yield %>
</main>	
</body>
</html>
